@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin vp-only-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin vp-tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin vp-desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
