/* Цвета */
$main-color: #2d383f;
$main-color-light: #ffffff;
$accent-color: #0266c1;

/* шрифты */
$montserrat: "Montserrat", "Arial", sans-serif;

/* Ширина экранов */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
